/* main.css */

html{
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
}

body {
	margin: 0px auto;
	padding: 0px;
	width: 100vw;
	max-width: 100vh;
	height: 100vh;
	max-height: 100vw;
}

.square {
	float: left;
	width: calc(100% / 32);
	height: calc(100% / 32);
	background-color: white;
	border: 1px solid red;
}

.square:not([data-is-top]) { border-top-width: 0px; }
.square:not([data-is-left]) { border-left-width: 0px; }

.square.blackBG { background-color: black; }
